# .env
PORT=8080
DEBUG=true
ENVIRONMENT=development
JWT_SECRET=
SIGNING_KEY=
DSN=postgres://user:pass@localhost:5432/mydb
EMAIL=opussocialcontent@gmail.com
EMAIL_PASSWORD=nhrk vgjq oeht szyf
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587

# JWT Configuration - Replace with your actual keys
JWT_SECRET=your-jwt-secret-key-here
SIGNING_KEY=your-signing-key-here