<%define "page"%>

<!DOCTYPE html>
<html lang="<%.Lang%>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%.Title%></title>
    
    <!-- Favicon (multiple formats for browser compatibility) -->
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="manifest" href="/assets/site.webmanifest">

    <%template "meta"%>
    <%.RenderedCss%>
    <%template "styles"%>
</head>
<body>
    <%template "header"%>
    <%template "main"%>
    <%template "footer"%>
    <%.RenderedJs%>
    <%template "scripts"%>
</body>
</html>
<%end%>

<%define "loader"%>
<div id="loader">
    <svg id="loader-img" width="400" height="400"></svg>
</div>
<%end%>

<% define "header" %>
  <div class="ui sticky"> 
    <div class="ui menu">
      <% template "nav" %>
    </div>
  </div>
<% end %>


<%define "nav-logo"%>
<a href="/" class="header item nav-logo">
  <span class="opus-orange">O</span>
  <span class="opus-purple">P</span>
  <span class="opus-pink">U</span>
  <span class="opus-teal">S</span>
</a>
<%end%>


<%define "message-list"%>
<div id="message-list" v-scope="messageScope()" v-show="store.view.messages.length > 0" @vue:mounted="init" class="ui message">
    <ul class="message-list">
        <li v-for="message in store.view.messages">{{message}}</li>
    </ul>
</div>
<%end%>

<%define "header-scope"%>
<script>
    function headerScope() {
      return {
        init() {
                console.log("teste - ")
        },
       }            
    }
    PetiteVue.createApp(headerScope()).mount("#header-title");
</script>
<%end%>

<%define "message-scope"%>
<script>
    function messageScope() {
      return {
        init() {
            bus.subscribe('sys:messages', (m) => {
                store.view.messages.push(m);
                setTimeout(() => { store.view.messages = ""}, 3000);
            });
        },
       }            
    }
    PetiteVue.createApp(messageScope()).mount("#message-list");
</script>
<%end%>

<%define "nav-scope"%>
<script>
    function navScope() {
      const view = PetiteVue.reactive({
        activeItem: "",
        token: "",
      });
      
      const getToken = () => {
        return view.token; 
      };

        const onLoggedOut = (data) => {
            deleteCookie('auth:token');
            localStorage.setItem('auth:token', "");
            window.location.href = "/admin/auth#/login";
        }

        const onLogout = () => {
          store.view.loading = true;
          const subscription = {
            next: (data) => {
              localStorage.setItem('auth:token', "");
              store.view.loading = false;
              window.location.href = "/admin/auth#/login";
            },
            error: onError,
          };

          const def = {
            method: 'post',
            url: '/auth/logout',
            subscription,
            model: {
              token: localStorage.getItem("auth:token"),
            },
          };
          return useApi(def);
        };

      return {
        view,
        fire(event) {
            bus.publish(event);
        },
        init() {
            view.token = localStorage.getItem("auth:token");
            bus.subscribe('auth:logout', onLogout);
        },
        get loggedIn() { return getToken() != "" },
        getActiveClass(item) {
            return view.activeItem === item ? ' active' : '';
        },
      };
    }
    PetiteVue.createApp(navScope()).mount("#nav")
</script>
<%end%>

<%define "module-store"%>
<script>
    const store = PetiteVue.reactive({
        view: {
            screen: "home",
            loading: false,
            messages: [],            
        },
    });
</script>
<%end%>

<%define "template-scopes"%>
<!-- Override in child templates -->
<%end%>

<%define "module-scopes"%>
<!-- Override in child templates -->
<%end%>

<%define "scripts"%>
<script>
    // logo animation
    const logo = document.querySelector('.nav-logo');
    if (logo) {            
        const spans = logo.querySelectorAll('span');
        const colors = ['opus-orange', 'opus-purple', 'opus-pink', 'opus-teal'].reverse();

        function rotateColors() {
            spans.forEach((span, index) => {
                const currentColor = [...span.classList].find(cls => colors.includes(cls));
                if (currentColor) {
                    span.classList.remove(currentColor);
                    const currentIndex = colors.indexOf(currentColor);
                    const nextIndex = (currentIndex + 1) % colors.length;
                    span.classList.add(colors[nextIndex]);
                }
            });
        }
        setInterval(rotateColors, 200);
    }

</script>

<script>
    // const svg = d3.select('#loader-svg');
    // if (svg) {
    //     const width = svg.attr('width');
    //     const height = svg.attr('height');
    //     const center = { x: width / 2, y: height / 2 };

    //     // Triangle data
    //     const triangleData = [
    //         { size: 180, color: "#00b5ad", angle: 0 },
    //         { size: 90, color: "#fa5f7a", angle: 0 },
    //         { size: 60, color: "#f7af38", angle: 0 }
    //     ];
        
    //     // Create triangles
    //     const triangles = svg.selectAll('path')
    //         .data(triangleData)
    //         .enter()
    //         .append('path')
    //         .attr('d', (d) => {
    //             const height = (Math.sqrt(3) / 2) * d.size;
    //             return `M${center.x - d.size/2},${center.y + height/3} 
    //                     L${center.x + d.size/2},${center.y + height/3} 
    //                     L${center.x},${center.y - 2*height/3} Z`;
    //         })
    //         .attr('fill', d => d.color)
    //         .attr('transform', `rotate(0, ${center.x}, ${center.y})`);
        
    //     // Animation function
    //     function animate() {
    //         triangles
    //             .transition()
    //             .duration(2000)
    //             .ease(d3.easeCubicInOut)
    //             .attr('fill', (d, i) => {
    //                 // Cycle colors
    //                 const colors = ["#ffff7a", "#ffbb88", "#33aadd"];
    //                 return colors[(i + 1) % 3];
    //             })
    //             .attr('transform', (d) => {
    //                 // Tilt back and forth
    //                 const tilt = Math.sin(Date.now() / 1000) * 15;
    //                 return `rotate(${tilt}, ${center.x}, ${center.y})`;
    //             })
    //             .on('end', animate); // Loop animation
    //     }
    //     // Start animation
    //     animate();
    // }
</script>

<%template "template-scripts"%>

<script>
  const client = new HttpClient('http://localhost:8080/api/v1');
  const bus = new EventBus();
</script>

<%template "module-store"%>

<script>

    const useValidation = (model) => {
        
    };

    const useScreen = (screen) => {
        if (screen === '*') {
            return store.view.loading === false;
        }
        return store.view.loading === false &&
               store.view.screen === screen;
    };

    const useRoute = (screen, handler) => {
        return (param) => {
            store.view.screen = screen;
            if (handler) {
                handler(param);
            }
        };
    };

    const useApi = ({method, url, model, event}) => {
        const sub = {
            next: (data) => {
                bus.publish(event, data);
            },
            error: (err) => {
                bus.publish("error", err);
                store.view.loading = false;
            },
        }
        return client[method](url, model).subscribe(sub);
    };
</script>

<%template "nav-scope"%>
<%template "message-scope"%>
<%template "module-scopes"%>
<%template "template-scopes"%>
<%template "header-scope"%>

<%end%>
