{{define "page"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    {{.RenderedCss}}
</head>
<body>
    <div id="app">
        <header>
            <h1>{{.Title}}</h1>
        </header>
        <main>
            {{template "home" .}}
        </main>
    </div>
    {{.RenderedJs}}
    
    <script>
        const data = {
            title: '<% title %>',
            description: '<% description %>'
        };
    </script>
</body>
</html>
{{end}}
