<% define "styles" %>
<style>
    .form-input {
        margin: 0.6em 0 !important;
    }
    .form-label-s {
        text-align: right;
        font-size: 2em;
    }
    .form-label-m {
        text-align: right;
        margin: 0.5em 0 !important;
        font-size: 3em;
    }
    .form-label {
        text-align: right;
        margin: 0.2em 0 !important;
        font-size: 4em;
    }
</style>
<% end %>


<% define "settings" %>
<!-- SETTINGS  -->
<div v-show="showOnView" class="field-row field">
    <div class="ui stackable grid">
        <div class="row">
            <div class="six wide computer five wide tablet sixteen wide mobile column">
                <h2 class="futura opus-teal form-title">SETTINGS</h2>
                <a v-show="showOnView" class="ui button opus-orange massive futura" href="#/add/setting">ADD</a>
            </div>
            <div class="ten wide computer five wide tablet sixteen wide mobile column">
                <table class="ui celled table"> 
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        <tr v-for="setting in store.model.settings">
                            <td>{{setting.name}}</td>
                            <td>{{setting.value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Add Setting -->
<form v-show="showOnEditSetting" class="ui form">  

    <!-- Name Field -->
    <div class="field-row field">
        <div class="ui stackable grid">
            <div class="row">
                <div class="four wide computer five wide tablet sixteen wide mobile column">
                    <h2 class="futura opus-teal form-label-m">SETTING</h2>
                </div>
                <div class="eight wide computer seven wide tablet sixteen wide mobile column">
                    <p class="futura opus-teal form-label-m">{{store.model.setting.name}}</p>
                </div> 
                <div class="four wide computer four wide tablet sixteen wide mobile column">
                </div>
            </div>
        </div>
    </div>

    <!-- Name Field -->
    <div class="field-row field">
        <div class="ui stackable grid">
            <div class="row">
                <div class="four wide computer five wide tablet sixteen wide mobile column">
                    <h2 class="futura opus-teal form-label-m">VALUE</h2>
                </div>
                <div class="eight wide computer seven wide tablet sixteen wide mobile column">
                    <div class="ui input massive">
                        <input v-model="store.model.setting.value" class="form-input" type="text" placeholder="Enter setting value">
                    </div> 
                </div> 
                <div class="four wide computer four wide tablet sixteen wide mobile column">
                </div>
            </div>
        </div>
    </div>
</form>        
<% end %>

<% define "header" %>
  <div class="ui sticky">
    <div class="ui menu">
      <% template "nav" %>
    </div>
  </div>
  <div id="profile-header" @vue:mounted="init" class="ui container">
      <h1 class="page-form-title futura opus-teal"> 
        PROFILE
      </h1>
    <div v-show="showOnMessage" class="ui message">
        <p>{{store.view.messages}}</p>
    </div>
  </div>
<% end %>

<% define "main" %>
<div id="app" @vue:mounted="init">
  
  <% template "loader" %>

  <div v-show="!store.view.loading" class="main-container">
    <div class="ui container">
        <form class="ui form">  

            <!-- Email Field -->
            <div class="field-row field">
                <div class="ui stackable grid">
                    <div class="row">
                        <div class="four wide computer five wide tablet sixteen wide mobile column">
                            <h2 class="futura opus-teal form-label">EMAIL</h2>
                        </div>
                        <div class="eight wide computer seven wide tablet sixteen wide mobile column">
                            <div v-show="showOnEdit" class="ui input massive">
                                <input v-model="store.model.email" class="form-input" type="email" placeholder="Enter your email">
                            </div> 
                            <div v-show="!showOnEdit" class="ui segment big">
                                <p>{{store.model.email}}</p>
                            </div> 
                        </div> 
                        <div class="four wide computer four wide tablet sixteen wide mobile column">
                            <div v-show="showOnEdit" class="ui message">
                                <ul class="message-list">
                                    <li>
                                    Please enter a valid email addressL
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Handle Field -->
            <div class="field-row field">
                <div class="ui stackable grid">
                    <div class="row">
                        <div class="four wide computer five wide tablet sixteen wide mobile column">
                            <h2 class="futura opus-teal form-label">@</h2>
                        </div>
                        <div class="eight wide computer seven wide tablet sixteen wide mobile column">
                            <div v-show="showOnEdit" class="ui input massive">
                                <input v-model="store.model.handle" class="form-input" type="text" placeholder="Enter your @">
                            </div> 
                            <div v-show="!showOnEdit" class="ui segment big">
                                <p>{{store.model.handle}}</p>
                            </div> 
                        </div> 
                        <div class="four wide computer four wide tablet sixteen wide mobile column">
                            <div v-show="showOnEdit" class="ui message">
                                <ul class="message-list">
                                    <li>
                                    Please enter a valid handle
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        
        <form class="ui form">  
            <!-- ACTION Buttons -->
            <div class="field">
                <div class="ui stackable grid">
                    <div class="row">
                        <div class="four wide computer five wide tablet sixteen wide mobile column">
                            <h2 v-if="showOnDelete" class="futura opus-teal form-label-m">
                                ARE YOU SURE?
                            </h2>
                        </div>
                        <div class="eight wide computer seven wide tablet sixteen wide mobile column">
                            
                            <a href="#/edit" v-show="showOnView" class="ui button opus-orange massive futura">EDIT</a>
                            <a v-show="showOnView" href="#/delete" class="ui button opus-pink massive futura">REMOVE ACCOUNT</a>

                            <a href="#/view" v-show="showOnEdit" class="ui button massive futura">BACK</a>
                            <div v-show="showOnEdit" class="ui button opus-orange massive futura" @click="fire('auth:update')">UPDATE</div>

                            <a v-show="showOnDelete" href="#/view" class="ui button massive futura">BACK</a>
                            <div v-show="showOnDelete" class="ui button opus-pink massive futura" @click="fire('auth:delete')">REMOVE</div>

                        </div>
                        <div class="four wide computer four wide tablet column">

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </div>
</div>

<% end %>

<%define "template-scopes"%>
  <script>

      function profileScope() {
          const onRoute = (action) => {
            if (!action) {
                action = 'view';
            }
            store.view.screen = action ? action : 'view';
          };
          const routes = {
            '/': onRoute,
            '/:action': onRoute,
          };
          const router = Router(routes);
          router.init();

        return {
          init() {
            bus.subscribe('auth:loaded', setModel);
            bus.subscribe('auth:updated', setModel);

            bus.subscribe('auth:update', onUpdateProfile);
            bus.subscribe('auth:updated', onLoadProfile);

            bus.subscribe('auth:delete', onDeleteAccount);
            onLoadProfile();
          },
          fire(event) {
            bus.publish(event);
          },
          get showOnView() {
            return store.view.loading === false && store.view.screen === 'view';
          },
          get showOnEdit() {
            return store.view.loading === false && store.view.screen === 'edit';
          },
          get showOnDelete() {
            return store.view.loading === false && store.view.screen === 'delete';
          },
          store,
        };
      }
      PetiteVue.createApp(profileScope()).mount("#app");
    </script>
<%end%>
