<% define "meta" %>
<% end %>

<% define "nav" %>
      <div id="nav" v-scope="navScope()" @vue:mounted="init" class="ui container">
        <% template "nav-logo" %>
        <div class="left menu">
          <a class="item opus-teal" href="/admin#/stories">Stories</a>
        </div>
        <div id="auth-menu" class="right menu">
          <a href="/admin/profile#/view" class="item opus-pink">Profile</a>
          <span class="item opus-purple" @click="fire('auth:logout')">Logout</span>
        </div>
      </div>
<% end %>

<% define "header" %>
  <h1 class="login-title" style="text-align: center;"> 
    <br>
    <a href="/" class="logo">
      <span class="opus-orange">O</span>
      <span class="opus-purple">P</span>
        <span class="opus-pink">U</span>
        <span class="opus-teal">S</span>
    </a>
  </h1>
<% end %>

<% define "footer" %>
<% end %>

<% define "module-store" %>
  <script>
    const store = PetiteVue.reactive({
      model: {
        email: "",
        handle: "",
        password: "",
        confirmPassword: "",
        agree: false,
      },
      view: {        
        screen: "",
        loading: false,
        messages: [],
        confirmation: {
          requested: false,
          confirmed: false,          
        },
      },
    });

    const setModel = (data) => {
      store.model = data;
    };

    //auth template
    const onLoggedIn = (data) => {
        setCookie('auth:token', data.token, 1);
        localStorage.setItem('auth:token', data.token);
        window.location.href = "/admin/profile#/view";
    }

    const onLogin = () => {
      store.view.loading = true;
      const def = {
        method: 'post',
        url: '/auth/login',
        event: "auth:logged:in",
        model: {
          email: store.model.email,
          password: store.model.password,
        },
      };
      return useApi(def);
    };

    const onConfirmation = (token) => {
        store.view.confirmation.requested = true;
        store.view.loading = true;
        def = {
          model: {token},
          method: 'post',
          url: '/auth/confirm',
          event: "auth:confirmed",
        }
        return useApi(def);
    }

    const onResetRequest = () => {
        store.view.loading = true;
        def = {
          model: {email: store.model.email},
          method: 'post',
          url: '/auth/request',
          event: "auth:requested",
        }
        return useApi(def);
    };

    const onReset = () => {
        store.view.loading = true;
        def = {
          model: {password: store.model.password, token: getQueryParam('reset')},
          method: 'post',
          url: '/auth/reset',
          event: "auth:reseted",
        }
        return useApi(def);
    };

    const onRegister = () => {
        store.view.loading = true;
        if (store.model.password !== store.model.confirmPassword) {
          store.view.loading = false;
          bus.publish("sys:messages", "Passwords don't match!");
          return;
        }
        if (!store.model.agree) {
          store.view.loading = false;
          bus.publish("sys:messages", "You must agree to the terms!");
          return;
        }
        
        def = {
          method: 'post',
          url: '/auth/register',
          event: 'auth:registered',
          model: {
            email: store.model.email,
            password: store.model.password
          },
        }
        return useApi(def);
    };
    
    // profile template 
      const onLoadProfile = () => {
          store.view.loading = true;
          def = {
            method: 'get',
            url: '/auth/me',
            event: "auth:loaded",
          }
          return useApi(def);
      }

      const onUpdateProfile = () => {
        store.view.loading = true;
        const model = {email: store.model.email};
        const subscription = useSubscription(sub);
        const def = {
          method: "put",
          url: '/auth/me',
          model,
          event: "auth:updated",
        }
        return useApi(def);
      };

      const onDeleteAccount = () => {
        store.view.loading = true;
        const subscription = {
          next: (data) => {
            localStorage.setItem('auth:token', "");
            store.view.loading = false;
            window.location.href = "/admin/auth#/bye";
          },
          error: onError,
        };
        const def = {
          method: "delete",
          url: '/auth/me',
          event: "account:removed",
        };
        return useApi(def);
      };
  </script>
<% end %>

<% define "module-scopes" %>
<% end %>
