<% define "meta" %>
<!-- silenzio -->
<% end %>

<% define "header" %>
<!-- silenzio -->
<% end %>

<% define "nav" %>
      <div id="nav" v-scope="navScope()" @vue:mounted="init" class="ui container">
        <% template "nav-logo" %>
        <div class="left menu">
          <a class="item opus-teal" href="/#/about">About</a>
          <a class="item opus-orange" href="/#/getting-started">Getting Started</a>
        </div>
        <div id="auth-menu" class="right menu">
          <a href="/admin/auth#/register" v-show="!loggedIn" class="item opus-pink">Demo</a>
          <a href="/admin/profile#/view" v-show="loggedIn" class="item opus-pink">Profile</a>
          <span v-show="loggedIn" class="item opus-purple" @click="fire('auth:logout')">Logout</span>
        </div>
      </div>
<% end %>

<% define "footer" %>
<% end %>

<% define "module-stores" %>
<% end %>

<% define "module-scopes" %>
<% end %>
